---
title: 'Lonely Rock Studio'
---
<!DOCTYPE html>
<html>
<head>
  <title>Lonely Rock Studio {% if page.url != '/' %}| {{page.title}}{% endif %}</title>
  <img src="logoweb.png" style="width:1002px;height:527px;">
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />

</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col6 margin3 pad4h'>
        <div class='clearfix col12'>
          <div class='menu fr'>
            <a class='{% if page.section == "home" %}active{% endif %}' href='{{site.baseurl}}/'>Home</a>
            <a class='{% if page.section == "games" %}active{% endif %}' href='{{site.baseurl}}/games'>Games</a>
            <a class='{% if page.section == "about" %}active{% endif %}' href='{{site.baseurl}}/about'>About</a>
          </div>
          <h1 class='title'><a href='{{site.baseurl}}/'>{{page.title}}</a></h1>
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70256136-1', 'auto');
  ga('send', 'pageview');

</script>
