/* layout.css
 * (finally) getting some responsive design going
 * Created: 26 July 2016
 */

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.container img { max-width: 100%; }

.box { width: 100%; padding: .5%; text-align: center; }

.header { height: 20%; max-height: 225px; }
.header img { width: 50%; max-width: 500px; }

.nav { height: 10%; }
.nav a { min-width: 48px; min-height: 48px; padding: 1.5em; }

.content { text-align: left; }

/* flexbox within a flexbox */
.blog {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

/* blog stuff */
.listing {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media screen and (max-width: 349px) {
    .nav { display: flex; }
}

@media screen and (min-width: 350px) and (max-width: 499px) {}
    .body h2 { display: none; }
    .body img { display: none; }
}

@media screen and (min-width: 500px) and (max-width: 750px) {
    .body h2 {display: none; }
    .body img {
        margin: 1em auto 1em auto;
        max-height: 300px;
        max-width: 50%;
        display: block;
    }
}

@media screen and (min-width: 800px) {
    /* where everything explodes */
    .container {
        max-width: 800px;
        margin: 0 auto 0 auto;
    }
    .body h2 { display: block; }
    .body img { display: block; }
}
